/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
    width: 50em;
}

h1 {
    width: 100%;
}

img {
    width:100%;
    max-width: 100%;
}

.logo {
    width: 3%;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}